@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
}

a {
  color: #fff;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.btn-danger {
  background-color: #be2623 !important;
}

.logo {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.logo span:first-child {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 500;
}

.logo span:last-child {
  font-family: "Baloo Thambi 2", cursive;
  color: #fff;
  background: #be2623;
  padding: 5px 10px;
  font-size: 2rem;
  font-weight: bold;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hv-l {
  position: relative;
}

.hv-l::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #0e3746;
  bottom: -0.3rem;
  width: 0%;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.hv-l:hover::before {
  width: 100%;
}

.control {
  background-color: #0e3746;
  top: 50%;
  height: 50px;
  width: 50px;
}

h5.title {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  font-size: 1.7rem;
}

header .navbar {
  z-index: 99;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  position: fixed;
  width: 100%;
  background-color: #0e3746;
  top: 0;
}

header .navbar .hv-l::before {
  background-color: #d6d6d6;
}

header .nav-item .nav-link {
  font-size: 1.2rem;
}

header .nav-item .nav-link .category.active {
  color: #fff;
  border-bottom: 3px solid #ddd;
}

header #carousel {
  overflow: hidden;
  position: relative;
}

header #carousel .carousel-indicators li {
  border-radius: 50%;
  width: 15px;
  background-color: #0e3746;
  height: 15px;
}

header #carousel .carousel-inner .carousel-item {
  position: relative;
}

header #carousel .carousel-inner .carousel-item img {
  height: 90vh;
  -o-object-fit: cover;
  object-fit: cover;
}

header #carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 20%;
}

header #carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 3rem;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

header #carousel .carousel-inner .carousel-item .carousel-caption h5 a {
  letter-spacing: 2px;
}

header #carousel .carousel-inner .carousel-item .carousel-caption h5:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

header #carousel .carousel-inner .carousel-item .carousel-caption h5:hover a {
  color: #d6d6d6;
}

header #carousel .carousel-inner .carousel-item::before {
  content: "";
  top: 0;
  color: #0e3746;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0e3746),
    to(#0e374677)
  );
  background-image: linear-gradient(#0e3746, #0e374677);
  position: absolute;
}

header #carousel .bg-bubble {
  position: absolute;
  width: 100%;
  height: 100%;
}

header #carousel .bg-bubble li {
  position: absolute;
}

header #carousel .bg-bubble li:nth-child(1) {
  height: 200px;
  width: 200px;
  background-color: #0e374685;
  -webkit-animation: square 10s infinite 3s;
  animation: square 10s infinite 3s;
}

header #carousel .bg-bubble li:nth-child(2) {
  height: 100px;
  width: 100px;
  left: 20%;
  background-color: #0e374685;
  -webkit-animation: square 12s infinite 1s;
  animation: square 12s infinite 1s;
}

header #carousel .bg-bubble li:nth-child(3) {
  height: 150px;
  width: 150px;
  left: 60%;
  background-color: #0e374685;
  -webkit-animation: square 15s infinite 6s;
  animation: square 15s infinite 6s;
}

header #carousel .bg-bubble li:nth-child(4) {
  height: 200px;
  width: 200px;
  left: 80%;
  background-color: #0e374685;
  -webkit-animation: square 9s infinite 3s;
  animation: square 9s infinite 3s;
}

header #carousel .bg-bubble li:nth-child(5) {
  height: 50px;
  width: 50px;
  left: 50%;
  background-color: #0e374685;
  -webkit-animation: square 29s infinite 4s;
  animation: square 29s infinite 4s;
}

header #carousel .bg-bubble li:nth-child(6) {
  height: 70px;
  width: 70px;
  left: 40%;
  background-color: #0e374685;
  -webkit-animation: square 15s infinite;
  animation: square 15s infinite;
}

header #carousel .bg-bubble li:nth-child(7) {
  height: 130px;
  width: 130px;
  left: 90%;
  background-color: #0e374685;
  -webkit-animation: square 22s infinite;
  animation: square 22s infinite;
}

header #carousel .down-svg {
  position: absolute;
  bottom: -1rem;
  z-index: 3;
  display: block;
}

.content section.new-posts {
  margin: 15vh 0;
}

.post {
  height: 450px;
}

.post .inner {
  overflow: hidden;
  position: relative;
}

.post .inner .img-post {
  width: 100%;
  height: 200px;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -o-object-fit: cover;
  object-fit: cover;
}

.post .inner figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: auto;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  text-align: center;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.post .inner figcaption .btn-quick-view {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}

.post .inner:hover .img-post {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.7;
}

.post .inner:hover figcaption .btn-quick-view {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

.post .post-body .post-title {
  letter-spacing: 1.5px;
}

.post .post-body .post-title a {
  color: #0e3746;
}

.post .post-body .post-sapo {
  font-family: "Baloo Paaji 2", cursive;
}

.post .post-body .post-date-up {
  opacity: 0.8;
  text-align: right;
}
.post-large {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.post-large .inner {
  width: 200%;
}

.post-large .inner .img-post {
  height: 450px;
}

.post-large .inner:hover figcaption .btn-quick-view {
  -webkit-transform: translate3d(0, 500%, 0);
  transform: translate3d(0, 500%, 0);
}

.post-large .post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 450px;
}

.post-large .post-body .post-title {
  letter-spacing: 3px;
  font-size: 2rem;
}

.post-large .post-body .post-sapo {
  font-size: 1.1rem;
}

.list-post .post-small {
  margin-bottom: 15px;
}

.post-small {
  height: 100px;
}

.post-small .inner .img-post {
  width: 100px;
  height: 100px;
}

.post-small .post-body h5 a {
  color: #0e3746;
  font-size: 1rem;
}

.post-small .post-body h5 a:hover {
  color: #be2623;
}

.post-big {
  position: relative;
}

.post-big .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.post-big .content .category {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.post-big .content h2 {
  margin-top: 10px;
  letter-spacing: 2px;
}

.post-big .content h2 a {
  color: #0e3746;
  font-size: 2.5rem;
}

.post-big .content .post-sapo {
  margin-top: 5px;
  font-size: 1.1rem;
  letter-spacing: 2.5px;
}

.post-big .img-post {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-basic {
  height: 100%;
}

.post-basic .post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
